
/* Border Box */
* {
  box-sizing: border-box;
}

/* Generic stuff */
#timeline {
  padding: 10px 0;
  /* background: #f7f7f7; */
  border-top: 1px solid rgba(191, 191, 191, 0.4);
  border-bottom: 1px solid rgba(191, 191, 191, 0.4);
  font-family: Roboto;
}
#timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}
#timeline h2 {
  margin-top: 0.4em;
  margin-bottom: 0.1px;
  line-height: 1.2em;
}
#timeline h3 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  color: white;
}
#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}


/* for the key */
#timeline  .colour_key {
    border: 1px transparent #000;
    padding: 0px;
    max-width: 94%;   /*  this is for mobile - same as timeline-card */
    z-index: 2;
    margin-bottom: 0.4em;
    margin: auto;
    font-size: 0.7em;
    line-height: 1.1em;
}
#timeline .colour_key p {
    margin: 1px 0;
}
#timeline .colour_key span {
    padding: 0 10px;
    margin: 2px 0;
}

/* Timeline POST CARD stuff */
#timeline .timeline-card {
  box-sizing: border-box;
  position: relative;
  display: block;
  margin: 20px auto 20px;
  max-width: 94%;
  z-index: 2;
  display: block;
  padding-bottom: 0.2em;
  box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.27);
}
#timeline .timeline-card .timeline_.type_ {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;

}
#timeline .timeline-card .timeline_.type_ h2 {
  text-transform: uppercase;
  font-size: 200% ; /* was 1.3rem; this is for mobile */
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem;
  colour: black;
}
#timeline .timeline-card .timeline_.type_ h2 span {
  display: block;
  font-size: 125% ; /* was 0.6rem; this is for mobile */
  margin: 0;
  padding: 0;
}
.timeline_body {
  background: #fff;
  border-right: 1px solid rgba(191, 191, 191, 0.4);
  border-left:  1px solid rgba(191, 191, 191, 0.4);
  border-bottom: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0px;
  padding: 15px;
  margin-bottom: 0.2em;
  text-align: left;
  margin: 0;
  padding: 0;
}




/* Set the colours for the post .type_ers */?
#timeline .lab { background-color: #ce43eb;}/* purple lab research */
#timeline .partner { background-color: #935300;}/* brown for partners */
#timeline .online { background-color: #4d92eb;}/* blue online research */
#timeline .other { background-color: #3ee9d1;}/* greenish blue - events */
#timeline .a11y { background-color: #f5c44b;}/* greenish blue - events */

/* Set teh TYPE text for the post .type_ers  */
.type_lab::after {  content : "Lab Testing";}
.type_a11y::after {  content : "Accessibility";}
.type_partner::after {  content : "Partner co-design and co-creation";}
.type_online::after {  content : "Online research and testing";}
.type_other::after {  content : "Events, F2F and other actvities";}

/*  Set the text collour for post TYPE */
.type_lab { color: white; font-weight: 900; font-size: 1.1em; padding-bottom: 0.2em;}
.type_partner { color: white; font-weight: 900; font-size: 1.1em; padding-bottom: 0.2em;}
.type_online { color: white; font-weight: 900; font-size: 1.1em; padding-bottom: 0.2em;}
.type_other { color: black; font-weight: 900; font-size: 1.1em; padding-bottom: 0.2em;}
.type_a11y { color: black; font-weight: 900; font-size: 1.1em; padding-bottom: 0.2em;}

/*  Set the text colour for teh post DATE */
.date_lab { color: white;}
.date_partner { color: white;}
.date_online { color: white;}
.date_other { color: black;}
.date_a11y { color: black; }

/* Timeline number box  */
.timeline_number-box {
  display: inline;
  float: left;
  margin-top: 0.1em;
  margin: 0.0em;
  padding: 0.0em;
  padding-top: 0.1em;
}
.timeline_number-box span {
  background: rgba(0, 0, 0, 0.17);
    color: white;
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 600;
}

/* timline card body */
#timeline .timeline-card .timeline_body p {
  /* removed because it made paragraph smaller than bullet list was:  font-size: 14px; */
  line-height: 18px;
  margin-bottom: 15px;
}
#timeline .timeline-card .timeline_body img {
  display: block;
  width: 100%;
}


.issue {
    color: red;
    font-weight: bold;
}

.h3blah {
    color: black;
    font-weight: 900;
    font-size: 1.1em;
    padding-bottom: 0.2em;

}
